.profile__info {
  max-width: 336px;
  margin: 18px 0 25px 30px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    margin: 14px 0 0;
  }
}

@media screen and (max-width: 350px) {
  .profile__info {
    max-width: 282px;
  }
}

