.popup__close-icon {
  position: absolute;
  top: -51px;
  right: -57px;
  background: transparent;
  border: none;
}

.popup__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 485px) {
  .popup__close-icon {
    top: -28px;
    right: -35px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-icon {
    top: -23px;
    right: -28px;
  }
}
