@import url(__avatar/profile__avatar.css);
@import url(__container/profile__container.css);
@import url(__info/profile__info.css);
@import url(__add-button/profile__add-button.css);
@import url(__occupation/profile__occupation.css);
@import url(__edit-button/profile__edit-button.css);
@import url(__main-information/profile__main-information.css);
@import url(__vector-image/profile__vector-image.css);
@import url(__name/profile__name.css);
@import url(__avatar-container/profile__avatar-container.css);
@import url(__edit-avatar-container/profile__edit-avatar-container.css);

.profile {
  margin: 40px 0 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }
}
