@import url(_hide/element__delete_hide.css);

.element__delete {
  background-image: url(../../../images/delete-button.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  top: 23px;
  right: 16px;
  background-color: transparent;
  padding: 0;
  border: none;
  /*display: none;*/
}

.element__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
