.popup__container {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #000000;
  padding: 34px 36px 36.51px;
  position: relative;
  box-sizing: border-box;
  min-width: 240px;
  width: 430px;
}


@media screen and (max-width: 560px) {
  .popup__container {
    max-width: 300px;
  }
}

@media screen and (max-width: 485px) {
  .popup__container {
    max-width: 240px;
    padding: 30px 20px 36px 20px;

  }
}
